.pop-up__input {
  min-height: 27px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0 0 10px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pop-up__input:first-of-type {
  margin-bottom: 30px;
}

.pop-up__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 520px) {
  .pop-up__input:last-of-type {
    margin-bottom: 45px;
  }
}
